/**
* Your CSS here
**/

body {background-color: #e18a26;}
h1 {
    font-family: 'Merienda', cursive;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }